[submodule "vendor/llvm-project/src"]
	path = vendor/llvm-project/src
	url = https://github.com/trail-of-forks/llvm-project.git
	branch = pasta-llvmorg-17.0.4
[submodule "vendor/nanobind/src"]
	path = vendor/nanobind/src
	url = https://github.com/wjakob/nanobind.git